:root
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-display: swap;
}

*
{
    --background-color: #BAD1CD;
    --text-color: #020300;
    --button-color: #E086D3;
    --accent-color: #8332AC;
    padding: 0;
    margin: 0;
    transition: 0.25s ease all;
}

body
{
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
}

.pointsSavedDialog
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 1rem;
    background-color: #9fb3af;
}

.pointsSavedDialog-title
{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.pointsSavedDialog-message
{
    font-size: 1.6rem;
}

.pointsSavedDialog-btnDiv
{
    display: flex;
    justify-content: space-around;
}

.modalBtn
{
    width: 30%;
    margin-top: 1.5rem;
    aspect-ratio: 3/1;
    background-color: var(--button-color);
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.modalBtn:hover
{
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.modalBtn:last-of-type
{
    margin-left: auto;
}

.main
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    justify-content: space-between;
    overflow: scroll;
}

.pointsSection
{
    margin: 0 auto ;
    font-size: 3rem;
    text-align: center;
}

.pointsSection-points
{
    font-weight: 700;
}

.playSection
{
    height: 50%;
}

.playSection-question
{
    font-size: 2rem;
    text-align: center;
}

.playSection-question-color
{
    width: 35%;
    max-width: 160px;
    aspect-ratio: 1/1;
    background-color: transparent;
    margin: 2rem auto 3rem;
    border-radius: 1rem;
    border: 2px solid #000;
}

.playSection-options
{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.playSection-options-colorOption
{
    width: fit-content;
    min-width: 75px;
    max-width: 125px;
    height: 5rem;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #7B435B;
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.playSection-options-colorOption:active
{
    background-color: #8E4162;
    transform: scale(1.1);
}

.controlSection
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.controlSection > button
{
    cursor: pointer;
    width: 35%;
    aspect-ratio: 3/1;
    border-radius: 3rem;
    font-size: 2.25rem;
    min-width: 100px;
    max-width: 135px;
    background-color: var(--button-color);
    border: none;
}

.controlSection > button:active
{
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.colorCircle
{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin: 0 auto;
    width: 1px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
}

.colorCircle-show
{
    display: block;
    animation: showCircle 0.5s ease forwards;
}

@keyframes showCircle {
    from {
        width: 1px;
        opacity: 1;
    }
    to {
        width: 120vh;
        opacity: 0;
    }
}

/* Desktop design*/

@media screen and (min-width: 800px) {
    .main
    {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
    }

    .pointsSavedDialog
    {
        width: 50%;
        max-width: 600px;
    }

    .modalBtn
    {
        height: 4rem;
    }

    .playSection-options
    {
        width: 75%;
        min-width: 350px;
        margin: 0 auto;
    }

    .playSection-options-colorOption:hover
    {
        background-color: #8E4162;
        transform: scale(1.1);
    }

    .controlSection > button:hover
{
    background-color: var(--accent-color);
    transform: scale(1.05);
}

    @keyframes showCircle {
        from {
            width: 1px;
            opacity: 1;
        }
        to {
            width: 120vw;
            opacity: 0;
        }
    }
}